@Master['layout']

@Section['Content']
<div class="form">
	<h3>Add a new Person</h3>

	<form class="form-horizontal" role="form" method="POST">
		<div class="form-group">

			<div class="col-md-5">
				<div class="input-group">
					<span class="input-group-addon">Vorname</span>
					<input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" placeholder="Vorname"/>
				</div>
			</div>

			<div class="col-md-6 col-md-offset-1">
				<div class="input-group">
					<span class="input-group-addon">Nachname</span>
					<input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName" placeholder="Nachname"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-3">
				<input class="btn btn-success" type="submit" value="Add Person"/>
				<a class="btn btn-default" href="/index" role="button">Cancel</a>
			</div>
 		</div>
	</form>
</div>

@EndSection